@font-face {
 font-family: 'FiraCodeLight';
 src: url('/vic/FiraCode-Light.ttf');
}

@font-face {
 font-family: 'HYQH';
 src: url('/vic/HYQiH18030F50.ttf');
}

body
  font-family: FiraCodeLight, HYQH !important

.custom-block
  &.right
    color var(--text-color) !important
    font-size 0.9rem
    text-align right
